<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NavBarTesting</title>
</head>
<body>

<div class="descriptionProduct" style="display: flex">
    <div class="imageProduct">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7nOez59xShCAwcc8io6pVe_w5V5eR_4BEJw&usqp=CAU" alt="">
    </div>
    <div class="">
        <table class="table">
            <thead>
            <tr>
                <td>name</td>
            </tr>
            <tr>
                <td>price</td>
            </tr>
            <tr>
                <td>description</td>
            </tr>
            <tr>
                <td>quantity</td>
            </tr>
            </thead>
            <tbody>

        </table>
    </div>
</div>

</body>
</html>